@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --black: #000;
    --white: #fff;
    --gamemode: #f25c5c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico',Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    color: var(--black);
    text-decoration: none;
    text-align: center;
}
html,body{
    overflow-x: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}

/* estilo do header começa aqui */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    padding: 0.5rem 3rem;
    box-shadow: 0 2px 2px var(--gamemode), 0 5px 5px var(--gamemode), 0 10px 10px var(--gamemode);
}
header #logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
header #logo p{
    font-size: 1.5em;
}
header img{
    width: 40%;
    max-width: 50px;
}
header button{
    display: none;
    cursor: pointer;
}
header nav{
    display: flex;
    gap: 3rem;
}
header nav a,header button{
    background-color: transparent;
    font-size: large;
    position: relative;
    z-index: 1;
}
header nav a::before,header button::before{
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--gamemode);
    animation: link 21s ease-in-out infinite;
    z-index: 0;
    opacity: 0;
}
header nav a:hover:before,header button:hover:before{
    opacity: 1;
}

@media (max-width: 700px){
    header{
        padding: 0.5rem 1rem;
    }
    header nav{
        gap: 0.9rem;
    }
}
@media (max-width: 550px){
    header{
        flex-direction: column;
    }
    header nav{
        gap: 3rem;
        margin-top: 0.5rem;
    }
}
@media (max-width: 400px){
    header nav{
        gap: 0.7rem;
    }
}

/* estilo do header termina aqui */ 

/* estilo do gamemode começa aqui */

#game,label div,button{
    transition: 1s;
}
#gameOption *{
    transition: 2s;
}
#gameOptions{
    width: 90vw;
    max-width: 350px;
    margin: auto;
    outline: 2px solid var(--black);
    border-radius: 2rem;
    animation: gamemodeColor infinite 21s ease-in-out;
}
#gameOptions button{
    color: var(--black);
    background-color: var(--gamemode);
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
#gameContainer,.pointsp1,.pointsp2{
    display: none;
}
#game{
    display: none;
    position: relative;
    border: 3px solid var(--gamemode);
    padding: 1rem;
    transition: 1s;
    border-radius: 25px;
    animation: changeColor 21s infinite ease-in-out;
}
.game{
    width: calc(100% + 2px);
    background-color: var(--gamemode);
    color: var(--black);
    font-size: 3em;
    padding: 1rem 0;
    border-radius: 2rem 2rem 0 0;
}
.gamemode,.gamedificulty{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
.gamedificulty div{
    font-size: 1.5em;
}
.gamemode label{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 2em;
    color: black;
}
.gamemode input,.gamedificulty input{
    display: none;
}
label div{
    width: 20px;
    height: 20px;
    border: 2px solid var(--gamemode);
    border-radius: 7px;
}
input[type="radio"]:checked ~ label div{
    background-color: var(--gamemode);
}



/* estilo do gamemode termina aqui */

/* estilo da tabela e menu começa aqui */
#tabela{
    width: 90vw;
    aspect-ratio: 1/1;
    max-width: 350px;
    margin: auto;
    position: relative;
    display: none;
    border: 2px solid black;
    user-select: none;
    margin-bottom: 1rem;
}
#tabela > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#tabela > div > div{
    height: 100%;
    width: 100%;
    outline: 1px solid black;
}
#tabela > div > div:nth-child(1){
    background-color: rgb(128,128,128);
}

.imgContainer{
    position: relative;
}

.imgIcon{
    height: 90%;
    width: 90%;
    margin-top: 5%;
    user-select: none;
    pointer-events: none;
}

#menu {
    width: 90vw;
    max-width: 350px;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid var(--black);
    align-items: center;
    justify-content: center;
    display: none;
}
#menu img{
    opacity: 0.4;
}
#menu img.active{
    opacity: 1;
}
#lifes{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
#lifes > div:nth-child(1){
    width: 150px;
    height: 30px;
    position: relative;
}
#lifes > div:nth-child(1):before{
    content: "";
    position: absolute;
    left: 0;bottom: -0.15rem;
    width: 100%;
    height: 4px;
    background-color: var(--gamemode);
}
#lifes > div:nth-child(1) img{
    border-radius: 50%;
    filter: invert(0) ;
    width: 25px;
    background-color: var(--gamemode);
    pointer-events: none;
}
.time,#lifes > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
}
#lifes > div:nth-child(3) img{
    width: 30px;
    height: 30px;
}
#lifes > div:nth-child(3) p{
    font-size: 2em;
}
#lifes > div:nth-child(2),#lifes > div:nth-child(3){
    width: 100px;
}
#lifes > div:nth-child(2) img{
    width: 35px;
    height: 35px;
}
#lifes > div:nth-child(2) p{
    font-size: 1.5em; 
}

/* estilo da tabela e menu termina aqui */

/* estilo do footer começa aqui */

footer{
    background-color: var(--black);
    width: 100%;
    position: fixed;
    bottom: 0;left: 0;
    padding: .2rem 1rem;
}
footer p{
    color: var(--white);
}
/* estilo do footer termina aqui */
