@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --black: #000;
    --white: #fff;
    --red: #f25c5c86;
    --darkRed: #d83f3f85;
    --green: #5fbf32b6;
    --darkGreen: #53af25b7;
    --yellow: #ffc850b0;
    --darkYellow: #feb744ab;
    --gamemode: #53af25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico',Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    color: var(--black);
    text-decoration: none;
    text-align: center;
}

html,body{
    overflow-x: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}
/* estilo do header começa aqui */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    padding: 0.5rem 3rem;
    box-shadow: 0 2px 2px var(--red), 0 5px 5px var(--red), 0 10px 10px var(--red);
    animation: shadow infinite 21s ease-in-out;
}
header #logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
header #logo p{
    font-size: 1.5em;
}
header img{
    width: 40%;
    max-width: 50px;
}

header nav{
    display: flex;
    gap: 3rem;
}
header nav a{
    font-size: large;
    position: relative;
    z-index: 1;
}
header nav a::before{
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--green);
    animation: link 21s ease-in-out infinite;
    z-index: 0;
    opacity: 0;
}
header nav a:hover:before{
    opacity: 1;
}


@keyframes link{
    0%{
        background-color: #f25c5c;
    }
    16.7%{
        background-color: #d83f3f;
    }
    33.3%{
        background-color: #5fbf32;
    }
    50%{
        background-color: #53af25;
    }
    67.7%{
        background-color: #ffc850;
    }
    83.5%{
        background-color: #ffc850;
    }
}
@keyframes shadow {
    0%{
        box-shadow: 0 2px 2px var(--red), 0 5px 5px var(--red), 0 10px 10px var(--red);
    }
    16.7%{
        box-shadow: 0 2px 2px var(--darkRed), 0 5px 5px var(--darkRed), 0 10px 10px var(--darkRed);
    }
    33.3%{
        box-shadow: 0 2px 2px var(--green), 0 5px 5px var(--green), 0 10px 10px var(--green);
    }
    50%{
        box-shadow: 0 2px 2px var(--darkGreen), 0 5px 5px var(--darkGreen), 0 10px 10px var(--darkGreen);
    }
    67.7%{
        box-shadow: 0 2px 2px var(--yellow), 0 5px 5px var(--yellow), 0 10px 10px var(--yellow);
    }
    83.5%{
        box-shadow: 0 2px 2px var(--darkYellow), 0 5px 5px var(--darkYellow), 0 10px 10px var(--darkYellow);
    }
}

@media (max-width: 600px){
    header{
        padding: 0.5rem 1rem;
    }
    header nav{
        gap: 0.6rem;
    }
}
@media (max-width: 500px){
    header{
        flex-direction: column;
    }
    header nav{
        gap: 3rem;
        margin-top: 0.5rem;
    }
}
/* estilo do header termina aqui */ 

/* estilo do gamemode começa aqui */
#game,label div,button{
    transition: 1s;
}
#gameOption *{
    transition: 2s;
}
#gameOptions{
    width: 90vw;
    max-width: 350px;
    margin: auto;
    outline: 2px solid var(--black);
    border-radius: 2rem;
    animation: gamemodeColor infinite 21s ease-in-out;
}
#gameOptions button{
    color: var(--black);
    background-color: var(--gamemode);
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
#gameContainer,.pointsp1,.pointsp2{
    display: none;
}
.game{
    width: calc(100% + 2px);
    background-color: var(--gamemode);
    color: var(--black);
    font-size: 3em;
    padding: 1rem 0;
    border-radius: 2rem 2rem 0 0;
}
.gamemode,.gamedificulty{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
.gamedificulty div{
    font-size: 1.5em;
}
.gamemode label{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 2em;
    color: black;
}
.gamemode input,.gamedificulty input{
    display: none;
}
label div{
    width: 20px;
    height: 20px;
    border: 2px solid var(--gamemode);
    border-radius: 7px;
}
input[type="radio"]:checked ~ label div{
    background-color: var(--gamemode);
}


@keyframes gamemodeColor {
    0%{
        --gamemode:#f25c5c;
    }
    16.7%{
        --gamemode:#d83f3f;
    }
    33.3%{
        --gamemode:#5fbf32;
    }
    50%{
        --gamemode:#53af25;
    }
    66.7%{
        --gamemode:#ffc850;
    }
    83.7%{
        --gamemode:#feb744;    
    }
}

/* estilo do gamemode termina aqui */

/* estilo da tabela e menu começa aqui */
#tabela{
    width: 90vw;
    aspect-ratio: 1/1;
    max-width: 350px;
    margin: auto;
    position: relative;
    display: none;
    border: 2px solid black;
    user-select: none;
    margin-bottom: 1rem;
}
#tabela > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#tabela > div > div{
    height: 100%;
    width: 100%;
    outline: 1px solid black;
}
#tabela > div > div:nth-child(1){
    background-color: rgb(128,128,128);
}

.imgContainer{
    position: relative;
}

.imgIcon{
    height: 90%;
    width: 90%;
    margin-top: 5%;
    user-select: none;
    pointer-events: none;
}

#menu {
    width: 90vw;
    max-width: 350px;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid var(--black);
    align-items: center;
    justify-content: center;
    display: none;
}
#menu img{
    opacity: 0.4;
}
#menu img.active{
    opacity: 1;
}

#game{
    opacity: 0;
    position: relative;
    border: 3px solid #f25c5c;
    padding: 1rem;
    transition: 1s;
    border-radius: 25px;
    animation: changeColor 21s infinite ease-in-out;
}

@keyframes changeColor {
    0%{
        border: 3px solid #f25c5c;
    }
    16.7%{
        border: 3px solid #d83f3f;
    }
    33.3%{
        border: 3px solid #5fbf32;
    }
    50%{
        border: 3px solid #53af25;
    }
    66.7%{
        border: 3px solid #ffc850;
    }
    83.7%{
        border: 3px solid #feb744;
    }
}

/* estilo da tabela e menu termina aqui */

/* estilo do footer começa aqui */

footer{
    background-color: var(--black);
    width: 100%;
    position: fixed;
    bottom: 0;left: 0;
    padding: .2rem 1rem;
}
footer p{
    color: var(--white);
}
/* estilo do footer termina aqui */
