@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico',Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    color: var(--black);
    text-decoration: none;
    text-align: center;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilo do header começa aqui */

header{
    width: 100%;
    background-color: var(--black);
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;left: 0;
}
header h1{
    color: var(--white);
}

/* estilo do header termina aqui */ 

/* estilo do gamemode começa aqui */
#gameOptions{
    width: 90vw;
    max-width: 350px;
    margin: auto;
    border: 2px solid var(--black);
    border-radius: 2rem;
}
#gameOptions button{
    color: yellow;
    background-color: var(--black);
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
#gameContainer,.pointsp1,.pointsp2{
    display: none;
}
.game{
    width: calc(100% + 2px);
    background-color: var(--black);
    color: yellow;
    font-size: 3em;
    padding: 1rem 0;
    border-radius: 2rem 2rem 0 0;
}
.gamemode,.gamedificulty{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
.gamedificulty div{
    font-size: 1.5em;
}
.gamemode label{
    font-size: 2em;
}

/* estilo do gamemode termina aqui */

/* estilo da tabela começa aqui */
#tabela{
    width: 90vw;
    aspect-ratio: 1/1;
    max-width: 350px;
    margin: auto;
    position: relative;
    display: none;
    border: 2px solid black;
}
#tabela > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#tabela > div > div{
    height: 100%;
    width: 100%;
    outline: 1px solid black;
}
/* estilo da tabela termina aqui */

/* estilo do footer começa aqui */

footer{
    background-color: var(--black);
    width: 100%;
    position: fixed;
    bottom: 0;left: 0;
    padding: .2rem 1rem;
}
footer p{
    color: var(--white);
}
/* estilo do footer termina aqui */

